
        body {
            background-color: #f9fafb;
            font-family: 'Poppins', sans-serif;
        }

        .welcome-card {
            background: linear-gradient(90deg, #ffca1d, #ffca1d);
            color: white;
            border-radius: 20px;
            padding: 25px;
            font-size: 22px;
            font-weight: 600;
            box-shadow: 0px 5px 10px rgba(255, 165, 0, 0.3);
        }

        .overview-card, .action-card {
            border-radius: 18px;
            background: white;
            padding: 22px;
            text-align: center;
            box-shadow: 0 4px 10px rgba(0,0,0,0.07);
        }

        .overview-card i, .action-card i {
            font-size: 26px;
            margin-bottom: 10px;
        }
        .bottom-nav {
            position: fixed;
            bottom: 0;
            width: 100%;
            background: white;
            padding: 5px 0;
            border-top: 1px solid #e7e7e7;
            display: flex;
            justify-content: space-around;
            z-index: 999; /* Ensure it stays above */
        }

        .bottom-nav a {
            color: #ffa806;
            text-decoration: none;
            font-size: 12px;
            text-align: center;
        }

        .bottom-nav a.active {
            color: #ffca1d;
        }

        .bottom-nav i {
            font-size: 22px;
        }
        

body {
    padding-bottom: 70px; /* prevents overlapping */
}
