 body {
            background-color: #f2f2f2;
        }
        .header{
            background-color:blue;
        }
        .order-card {
            background: #ffffff;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0,0,0,0.1);
            max-width: 800px;
            margin: 30px auto;
        }
        .section-title {
            font-weight: bold;
            margin-top: 20px;
        }
        table th, table td {
            text-align: center;
        }
        .backbtn{
            background-color: blue;
        }

    